.side_ankerpane {
    -fx-background-color: #353A56;
    -fx-background-radius: 20px;
    -fx-border-style: solid;

    -fx-background-radius: 0 20 20 0;
    -fx-border-radius: 0 20 20 0;
}

.inner_pane {
    -fx-background-color: #748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

.btn_dashboard {
    -fx-text-fill: white;
    -fx-graphic-text-gap: 10px;
}

.btn_dashboard:hover {
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 8, 0, 0, 4);
}

.dashboard-card {
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.1, 0, 4);
}

.btn_addBook {
    -fx-text-fill: black;
    -fx-graphic-text-gap: 30px;
}

.btn-success {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
}

.btn-danger {
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
}

.table-view {
    -fx-font-size: 14px;
}



